@import url('https://fonts.google.com/specimen/Indie+Flower');
/* Also import 'Roboto' font */
body {
    font-family: Roboto,sans-serif;
    background: #e2d7aa;
    color: #000000;
    font-size: 16px;
    max-width: 1200px;
    line-height:24px;
    margin: 0 auto;
    overflow-x: hidden;

}
body>div.img-container>img{
    width: 95%;
    height: 450px;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}
body>div.img-container {
width: 100%;
height: 450px;
margin-top: 65px;
text-align: center;
max-width: 1200px;


}
h1 {
    font-size: 60px;
    font-family:"Indie Flower", cursive;
    text-align: center;
    margin-top: 65px;
    font-weight: 40;
}
a {
    text-decoration: none;
}
nav {
    margin: 30px;
    text-align: center;
}
nav a {
    text-decoration: none;
    font-size: 28px;
    color: #000000;
}
nav ul li {
    list-style: none;
    display: inline;
    padding: 0 12px 0 12px;
}
article {
    width: 370px;
    display: inline-block;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 0 12px 0 12px;
}
nav ul li:first-of-type a,nav ul li:last-of-type a {
    padding-left: 0;
    color: #0a2d4a;
    font-weight: bold; 
}
main {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 20px;
}
main > article img {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}
p {
    width: 345px;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400px;
}
footer{
    text-align: center;
    padding: 10px 0 ;
    width: 100%;

}
h2,h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: #b68105;
    color: #ffffff;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}
